.form-container{
    backdrop-filter: blur(10px);
background: rgba(255, 255, 255, 0.15);
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
border-radius: 16px;
width:40%;
}